extends ../layouts/main
include ../mixins/comment

block content
    .watchContainer
        .watch_theater_container
        .watch_column
            .watch_primary
                .watch_primary_inner
                    .player_container_outer
                        .player_container_inner
                            #player_container(data-id=video._id)
                                video(src=video.source, playsinline, type="video/*", poster=video.thumbnail)#player_video
                                .player_bottom.opacity
                                    .progress_container
                                        div(tabindex="0").progress_wrap
                                            .progress_hover
                                            .progress_loaded
                                            .progress_played
                                            .progress_handler_container
                                                .progress_handler
                                    .player_controls
                                        .player_controls_left
                                            button#player_play.player_btn
                                                i.fas.fa-play.fa-2x
                                            a(href="#").player_btn
                                                i.fas.fa-step-forward.fa-2x
                                            .player_volume_container
                                                button#player_mute.player_btn
                                                    i.fas.fa-volume-up.fa-2x
                                                .player_volume_range_wrap
                                                    div(tabindex="-1").player_volume_range
                                                        .player_volume_handler
                                            .player_time_container
                                                span#player_time_current 00:00
                                                span#player_time_separator  / 
                                                span#player_time_duration 00:00
                                        .player_controls_right
                                            button#player_theaterView.player_btn
                                                svg(widh="100%", height="100%", viewBox="0 0 36 36")
                                                    path(d="m 28,11 0,14 -20,0 0,-14 z m -18,2 16,0 0,10 -16,0 0,-10 z", fill-rule="evenodd")
                                            button#player_expand.player_btn
                                                i.fas.fa-expand.fa-2x
                    .watch_video_info
                        .watch_video_info_contents
                            h1.watch_video_title=video.title
                            .watch_video_meta
                                .watch_video_meta_text
                                    .watch_video_views #{video.meta.views} views
                                    .watch_video_sep &nbsp;•&nbsp;
                                    .watch_video_createdAt #{video.meta.createdAt.getFullYear()}. #{video.meta.createdAt.getMonth()+1}. #{video.meta.createdAt.getDate()}.
                                .watch_video_meta_menu
                    .watch_meta
                        .watch_meta_contents
                            .watch_meta_first
                                .watch_channel_left
                                    a(href=`/user/${video.meta.creator._id}`).watch_channel_anchor
                                        img(src=video.meta.creator.avatar, crossorigin).watch_channel_avatar
                                    .watch_channel_info
                                        a(href=`/user/${video.meta.creator._id}`).watch_channel_name=video.meta.creator.name
                                        .watch_channel_subscription.hidden 구독자 325만명
                                .watch_channel_right
                                    .watch_channel_subscription
                            .watch_meta_second
                                .watch_description_view
                                    .watch_description_content=video.meta.description
                                .watch_description_btns
                                    button.watch_description_btn more
                    
                    .watch_comments_container
                        .watch_comments_header
                            .watch_comments_meta #{video.meta.comments.length} comments
                            .watch_comments_input
                                .watch_comments_input_avatar
                                    if login
                                        img(src=avatar, crossorigin)
                                    else
                                        img(src="https://yt3.ggpht.com/a/default-user=s48-c-k-c0x00ffffff-no-rj", crossorigin)
                                .watch_comments_input_inner
                                    .watch_comments_input_creation-box
                                        div(contenteditable="true", aria-label="Write Comment...").watch_comments_textarea
                                        .focused_underline
                                    if login
                                        .watch_comments_input_btns
                                            button.watch_btn.watch_comments_cancel cancel
                                            button.watch_btn.watch_comments_comment comment
                        .watch_comments_contents
                            each cmt in comments
                                +comment(cmt)

            .watch_secondary
                .watch_secondary_inner
                    #watch_related.watch_related
                        .videoRenderer
                        .videoRenderer

block scripts
    script(src="/static/js/watch.js")
    script(src="/static/js/videoPlayer.js")